@model WebAtividadeEntrevista.Models.ClienteViewModel
@{
    ViewBag.Title = "Alterar Cliente";
}

@Html.Partial("Beneficiarios")

@section scripts{
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';

        function abrirModal() {
            obj.beneficiarios.forEach(b => {
                $('#table-modal').append(`'<tr><td>${b.Nome}</td><td>${b.CPF}</td><td><button type="button" class="btn btn-primary btn-sm">Alterar</button> </td> <td> <button type="button" class="btn btn-danger btn-sm" onclick="excluir()">Excluir</button></td></tr>'`);
            })
            $('#modal').modal('show');
        }

    </script>
    @Scripts.Render("~/bundles/altClientes")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")