@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Cadastrar Cliente";
}

@Html.Partial("Beneficiarios")

@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        var clienteId = 0;

        function abrirModal() {
            $('#modal').modal('show');
        }

        function adicionarBeneficiario() {
            var url = '@Url.Action("Incluir", "Beneficiario", new { area = "" })';

            const nome = $('#nome-input').val();
            const cpf = $('#cpf-input').val();

            $.ajax({
                url: url,
                type: 'POST',
                data: { nome: nome, cpf: cpf, clienteId: clienteId },

                success: function () {
                    $('#table-modal').append(`'<tr><td>${nome}</td><td>${cpf}</td><td><button type="button" class="btn btn-primary btn-sm">Alterar</button> </td> <td> <button type="button" class="btn btn-danger btn-sm" onclick="removerBeneficiario(this)">Excluir</button></td></tr>'`);

                    $('#nome-input').val("");
                    $('#cpf-input').val("");

                    document.getElementById('btn-incluirOuAlterar').innerHTML = "Incluir";
                },
                error: function (data) {
                    console.log('Error' + data);
                }
            });
        }

        function preencherCampos(linha) {
            document.getElementById('btn-incluirOuAlterar').innerHTML = "Alterar";

            var i = linha.parentNode.parentNode.rowIndex;

            const nome = document.getElementById('table-modal').rows[i].cells[0].innerText;
            const cpf = document.getElementById('table-modal').rows[i].cells[1].innerText;

            document.getElementById('nome-input').value = nome;
            document.getElementById('cpf-input').value = cpf;

            removerBeneficiario(linha);
        }

        function removerBeneficiario(linha) {
            var i = linha.parentNode.parentNode.rowIndex;
            document.getElementById('table-modal').deleteRow(i);
        }  
        
    </script>
    @Scripts.Render("~/Scripts/Clientes/clientes2.js")
}
<h2>@Html.Raw(ViewBag.Title)</h2>

@Html.Partial("Forms")

